.footer {
  padding: 22px 16%;
  background: var(--clr-another-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.copyright p {
  font-size: 15px;
  font-weight: 400;
  color: var(--clr-other-wanted);
}
.scroll-top i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-hero-only);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: var(--clr-text-only);
  font-size: 22px;
}
