.center-text {
  text-align: center;
}
.center-text h2 {
  font-size: var(--fontmain-h2);
}
.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 2.3rem;
  margin-top: 4.2rem;
}
.box {
  padding: 80px 40px 66px;
  background: #2d343f;
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px var(--clr-hero-only);
  transition: all 0.5s ease;
  cursor: pointer;
}
.box img {
  margin-bottom: 20px;
}
.box h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.box p {
  font-size: var(--fontmain-para);
  font-weight: 400;
  color: var(--clr-other-wanted);
  line-height: 30px;
  margin-bottom: 20px;
}
.box a {
  display: inline-block;
  font-size: 22px;
  line-height: 1rem;
  font-weight: 700;
  padding: 7px 0;
  color: var(--clr-text-only);
  border-bottom: 2px solid #5d6c83;
  transition: all 0.5s ease;
}
.box i {
  vertical-align: middle;
  font-size: 25px;
  color: var(--clr-hero-only);
  margin-left: 5px;
}
.box a:hover {
  border-bottom: 2px solid var(--clr-hero-only);
}
.box:hover {
  border: 1px solid var(--clr-hero-only);
  transform: translateY(-5px) scale(1.03);
}
.logo-service {
  width: 4rem;
}
